/* <---------- Generals settings ----------> */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    --orange-color: #ff3c00;
    --border-grey-color: #cac5c5;
}

.bold{
    font-weight: bold;
}

.almost-bold{
    font-weight: 600;
}

.disable{
    filter: blur(2px);
    cursor: not-allowed;
}


/* <---------- HEADER ----------> */
@media screen and (min-width: 991.5px) {
    .navbar-nav{
        width: 85%;
    }
}

/* <---------- MAIN  ----------> */

/* Message */
#detail-message{
    background-color: white;
}

#autor-container{
    max-width: 100%;
    border-bottom: 0.0625rem dotted #e0e0e0 ;
}

.answer{
    font-size: 25px;
}

/* User */

.title-user img{
    width: 140px;
}

.infos-user{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 800px;
}

.infos-user h4{
    color: var(--orange-color);
    border-bottom: 1px solid var(--border-grey-color);
}
.infos-user li{
    padding-bottom: 10px;
}

.infos-user .info-value{
    margin-left: 6px;
}

#user-details, #last-user-messages, #password-container{
    background-color: white;
    max-width: 800px;
    
}
#user-details li{
    line-height: 30px;
    border-bottom: 1px solid var(--border-grey-color);
    padding: 10px 0;
}
#user-details img{
    height: 75px;
}
.user-data{
    margin-right: 15px;
}

#user-details h4, #last-user-messages h4{
    color: var(--orange-color);
}

/* Login */
#login input[type="submit"], #sign-up input[type="submit"]{
    width: 140px;
}
#sign-up form{
    line-height: 30px;
}

.login-container{
    color: white;
    font-size: 17px;
}

/* Detail account */
#modify-account{
    line-height: 30px;
}

