/* <---------- Generals settings ----------> */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    --orange-color: #ff3c00;
    --border-grey-color: #cac5c5;
}

.bold{
    font-weight: bold;
}

.almost-bold{
    font-weight: 600;
}

.disable{
    filter: blur(2px);
    cursor: not-allowed;
}

a{
    text-decoration: none;
    color: #111;
    font-weight: 600;
}
.btn-return{
    transition: 0.25s;
    width: 367px;
    max-width: 100%;
}
.btn-return:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
    transform: translateY(-0.25em);
    color:white;
}

.btn-submit-form{
    transition: 0.25s;
}

.btn-submit-form:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
    transform: translateY(-0.25em);
    color:white;
}

/* <---------- HEADER ----------> */
@media screen and (min-width: 991.5px) {
    .navbar-nav{
        width: 85%;
    }
}

/* <---------- MAIN  ----------> */


/* HOME */
#last-topics{
    background-color: white;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px;
}

#last-topics ul{
    margin-left: 10px;
}

#last-topics li{
    line-height: 30px;
}

/* Message */
#detail-message{
    background-color: white;
}

#autor-container{
    max-width: 100%;
    border-bottom: 0.0625rem dotted #e0e0e0 ;
}

.answer{
    font-size: 25px;
}

/* User */

.title-user img{
    width: 140px;
}

.infos-user{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 800px;
}

.infos-user h4{
    color: var(--orange-color);
    border-bottom: 1px solid var(--border-grey-color);
}
.infos-user li{
    padding-bottom: 10px;
}

.infos-user .info-value{
    margin-left: 6px;
}

#user-details, #last-user-messages, #password-container{
    background-color: white;
    max-width: 800px;
    
}
#user-details li{
    line-height: 30px;
    border-bottom: 1px solid var(--border-grey-color);
    padding: 10px 0;
}
#user-details img{
    height: 75px;
}
.user-data{
    margin-right: 15px;
}

#user-details h4, #last-user-messages h4{
    color: var(--orange-color);
}

/* Login */
#login input[type="submit"], #sign-up input[type="submit"]{
    width: 140px;
}
#sign-up form{
    line-height: 30px;
}

.login-container{
    color: white;
    font-size: 17px;
}

/* Detail account */
#modify-account{
    line-height: 30px;
}

/* Detail topic */
.fa-trash:hover{
    color:#0a58ca;
}

.info-msg a{
    text-decoration: underline;
    text-underline-offset: 3px;
}
/* Categories */

#categories-list a:hover{
    color: #ff5d2b;
    transition: ease-in-out 240ms;
}

#categories-list h5{
    text-align: center;
    padding-top: 10px;
}

#categories-list figure{
    transition: 0.2s;
}
#categories-list figure:hover{
    transform: scale(1.05);
}
